extends layout

block content
  style.
    #console { word-wrap:break-word;}
  h1= title
  select(data-bind="options: tracks, optionsText: 'label', value: activeTrack, allowUnset: true")
  canvas#myCanvas
block scripts
  script.
    function ViewModel(){
        this.tracks = ko.observableArray();
        this.activeTrack = ko.observable();
    }
    var vm = new ViewModel();
    
    ko.applyBindings(vm);

    var canvas = document.getElementById("myCanvas");
    
    var getUserMedia =  function() {
     (navigator.webkitGetUserMedia || navigator.mozGetUserMedia).apply(navigator, arguments);
    };

    getUserMedia({ video:true }, function(stream){
        vm.tracks(stream.getVideoTracks());
    }, function(err) { console.error(err); });

    var source,
        video;

    ko.computed(function(){
        var track = ko.unwrap(vm.activeTrack);

        if (!track) return;

        if (source && video){
            video.src = null;
            source.stop();
        }

        getUserMedia({ video: { optional : [ {sourceId: track.id } ] } }, function(stream){
                video = document.createElement('video');
                video.autoplay = true;
                video.src = window.URL.createObjectURL(stream);
                video.addEventListener('play', function(){
                    canvas.width = video.width = video.videoWidth;
                    canvas.height = video.height = video.videoHeight;
                    draw(video, canvas.getContext('2d'), video.videoWidth, video.videoHeight);
                    });
            }, function(err){ console.error(err); });
    });

    var worker = new Worker("javascripts/worker.js");

    function draw (video, context, w, h){
        if(video.paused || video.ended) return false;
        context.drawImage(video, 0, 0, w, h);
        var url = canvas.toDataURL('image/jpeg', 0.8);
        var b64 = url.split(";base64,")[1];
        worker.postMessage(b64);
        
        setTimeout(function(){
            draw(video, context, w, h);
            }, 1000/60);
    }