doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/foundation.css')
  body
    block content
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/js/foundation.min.js')
    block scripts